@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@700&family=Rubik:ital,wght@1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* INDEX */

/* Video Del Index */
.videos-fondos{
    width: 100%;
    height: 100%;
}
/* Texto de Bienvenida Iindex */
.welcome{
    font-family: 'Righteous';
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
    color: #e0e0e0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Boton de Click del Index */
.button-index{
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #e0e0e0;
    width: 100%;
    padding: 20px;
}
/* INICIO */
.container-total{
    background-image: url(../img/fondo-pagina.jpg);
    display: flex;
    justify-content: center;
}
.container-pag {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    min-width: 1280px;
}
.fondo-inicio {
    position: fixed;
}